$primaryTextColor: #595959; // Cor basica dos textos do site
$titleTextColor: white; // Cor basica dos ttitulos do site
$inputPlaceholderColor: #bdbdbd; // Cor dos placeholders em geral
$inputDisabledBackgroudColor: whitesmoke; // Cor de fundo dos inputs desabilitados
$menuBackgroundColor: #031b4d;